header
  .header-position
    h1.logo Travis Neilson
    
    nav.site-nav
      ul
        li: a(href="#about") About 
        li: a(href="#youtube") YouTube
        li: a(href="#mentoring") Mentoring
        li: a(href="#articles") Articles
        li: a(href="#Vine") Vine
        li: a(href="#Design") Design
        li: a(href="#Notes") Notes
        li: a(href="#Contact") Contact
        
        
    a(href="mailto:huynhT0610@gmail.com").email-link +email me
