section.notes#notes
  .flex.flex--center
    .col-2
      p.home-lead ...Sending email notes...
      
      .notes-signup-box
        .form-display
          .mc-field-group
            <label for="mce-NAME">First Name</label>
            <input type="text" value="" name="NAME" class="box-input">
          
          .mc-field-group
            <label for="mce-NAME">Email Address</label>
            <input type="text" value="" name="EMAIL" class="box-input">
          
          <input type="submit" value="Subscribe" name="SUBSCRIBE" class="sub-btn">
        
  .flex.flex--center
    .col-1
      p Notes are weekly email messages that come directly to your inbox. Most of the notes I send will never be available anywhere else. You should sign up.
      
    .col-1
      p A small selection of previous notes that I’ve made public...
      ul
        li ❧ <a href="">Ultimate Motivation</a>
        li ❧ <a href="">The Pillars of Creation </a>
        li ❧ <a href="">Work-Life Balance is a Joke</a>
