section.youtube#youtube
  .flex.flex--space
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    .col-1.order-first
      p.home-lead.outdented ...Teaching everyone how to make websites on YouTube...
      //cta stand for call to action
      a(href="http://youtube.com/devtipsfordesigners" target="_blank").home-cta Watch on YouTube
 
